:host {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-item {
  cursor: pointer;
  margin-right: 16px;
  font-size: 20px;
  transition: ease 0.3s;
  &:hover {
    transform: scale(1.1);
    opacity: 0.6;
  }
}
