:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 16px);
}
.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  max-width: 600px;
}
.thumbnail {
  width: 180px;
  margin: 0 8px 40px;
}
app-introduction-content {
  width: 40%;
  min-width: 300px;
  margin: 0 8px 40px;
}
