<div class="content">
  <div class="item">
    <div class="item-label">name</div>
    <div class="item-body">根津宏輔（ねづすけ）</div>
  </div>
  <div class="item">
    <div class="item-label">history</div>
    <div class="item-body">
      1999.5 誕生<br />
      2015.4 明石高専入学<br />
      2018.8
      <app-link url="https://twogate.com/">twogate.inc</app-link
      >でインターン生として働き始める<br />
      2020.3 明石高専卒業<br />
      2020.4 大阪大学入学<br />
    </div>
  </div>
  <div class="item">
    <div class="item-label">skills</div>
    <div class="item-body">
      html,css,angular,ionic,design(web,logo)
    </div>
  </div>
  <div class="item">
    <div class="item-label">favorite</div>
    <div class="item-body">
      music,game,movie…
    </div>
  </div>
</div>
